<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/static/css/Overview.css">
    <title>Gruppen_Overview</title>
</head>

<body>
    <div class="container">
        <div class="header-row">
            <div class="account-circle-icon-1"><img src="/frontend/Picture/Default-icon.png" width="50" height="50">
            </div>
            <button class="button-5" type="submit">Ausloggen</button>
        </div>

        <div class="lerngruppentool">LerngruppenTool</div>

        <div class="search-container">
            <input type="text" class="search-1" placeholder="🔍 Suche">
            <div class="filter-list-icon-1"> <img src="/frontend/Picture/Filter_50px.png" width="30" height="30"></div>
        </div>

        <div class="tab-row">
            <div class="add-icon">
                <span>+</span>
            </div>
            <div class="rectangle-2">
                <span class="heading-2">Meine Teams</span>
            </div>
            <a href="Erkunden_Overview.html">
                <div class="rectangle-1-tab">

                    <span class="heading-1">Erkunden
                    </span>
                </div>
            </a>

        </div>

        <div class="card">
            <div class="card-header">
                <div class="image-placeholder-1">🖼️</div>
                <div class="team-info">
                    <div class="team-">Team:</div>
                    <a href="#" class="link-1">Oberstufenprojekt</a>
                </div>
            </div>
            <div class="text-placeholder-1">This is a Text for the Group</div>
            <div class="tab-row">
                <button class="button-1" type="submit">Öffnen</button>
                <div class=flag-icon-1><img src="/frontend/Picture/flagge_s.png"></div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="image-placeholder-2">🖼️</div>
                <div class="team-info">
                    <div class="team-1">Team:</div>
                    <a href="#" class="link-2">AP1 Vorbereitung</a>
                </div>
            </div>
            <div class="text-placeholder-2">————— ——— ————<br>——— ———— ——— ——<br>———— ——— —————</div>
            <button class="button-1" type="submit">Öffnen</button>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="image-placeholder-3">🖼️</div>
                <div class="team-info">
                    <div class="team-2">Team:</div>
                    <a href="#" class="link-3">GID 2024</a>
                </div>
            </div>
            <div class="text-placeholder-3">————— ——— ————<br>——— ———— ——— ——<br>———— ——— —————</div>
            <button class="button-1" type="submit">Öffnen</button>
        </div>
    </div>

</body>

</html>